<html>
  <head>
    <title style="font-family:courier;">Iniciar Sesión</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="../styles/styles.css"></link>
  </head>

  <body >
    <center>
      <div class="div1">
        <form>
          <table>
            <tr>
              <td><label for="user">Name:</label></td>
              <td><input type="text" name="user"></td>
            </tr>

            <tr>
              <td><label for="pass">Pass:</label></td>
              <td><input type="text" name="pass"></td>
            </tr>
          </table>
          <br/>
          <button class="button" type="submit" value="Enviar">Ok</button>
          <button class="button" type="reset" value="Cancelar">Cancelar</button>
        </form>
      </div>
    </center>
  </body>

</html>
