<html>
  <head>
    <title style="font-family:courier;">Registro</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="../proyect_02/styles/styles.css"></link>
  </head>

  <body >
    <center>
      <div ">
        <form>
          <table border="5">
            <tr>
              <td><label for="fname">Nombres:</label></td>
              <td><input type="text" name="fname"></td>
            </tr>

            <tr>
              <td><label for="lname">Apellidos:</label></td>
              <td><input type="text" name="lname"></td>
            </tr>

            <tr>
              <td><label for="email">Email:</label></td>
              <td><input type="email" name="email"></td>
            </tr>

            <tr>
              <td><label for="fborn">Fecha de Nacimiento:</label></td>
              <td><input type="date" name="fborn"></td>
            </tr>

            <tr>
              <td><label for="gender">Género:</label></td>
              <td><select name="gender">
                    <option value="male">M</option>
                    <option value="female">F</option>
                  </select>
              </td>
            </tr>
          </table>
          <br/>
          <button type="submit" value="Enviar">Registrarse</button>
          <button type="reset" value="Cancelar">Cancelar</button>
        </form>
      </div>
    </center>
  </body>

</html>
